.idea/
css
#For Python devel.
*.pyc
.ipynb_checkpoints
notebooks/
__pycache__
python/venv/
python/.ipynb_checkpoints/
python/parse_arxiv_meta.py
.cache
.vscode

#Emacs
\#*\#
#Haskell:
*.hi
*.o
dist/
.cabal-sandbox
cabal.sandbox.config

*.swp

build*/
boilerplate
#Data files
*.h5
*.json

