#For Python devel.
*.pyc
.ipynb_checkpoints
__pycache__
python/venv/
python/.ipynb_checkpoints/
python/parse_arxiv_meta.py
.cache
.vscode

#Haskell:
*.hi
*.o

build
boilerplate
#Data files
*.h5
*.json

